* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background-container {
  background: url('images/SmartHomePicDraft.webp') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  background-position: center;
  position: relative;
}

.header1Text {
  padding-top: 80vh;
  font-size: 250px;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  padding-left: 20px;
  font-family: 'bebas neue';
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 22px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #81d08a;
  opacity: 75%;
}


.logo-nav {
  font-size: 42px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-family: arial-black;
}

.navbar-container a {
  position: relative;
  font-size: 25px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  font-family: arial-black;
}

.navbar-container a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: .3s;
}

.navbar-container a:hover::before {
  width: 100%;
}


.header2 {
  background-color: black;
  height: 100vh;
  z-index: 20;
  position: relative;
}










.carousel-header-container {
  height: 600px;
  background-color: grey;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding-top: 80px;
}

.numerics-container {
  height: 300px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.about-us-header-container {
  height: 550px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

.our-service-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 15px;
}

.what-we-are {
  font-size: 40px;
  color: green;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.our-service-div {
  background-color: #3498db; 
  border-radius: 15px; 
  padding: 80px;
  padding-top: 320px;
  color: #fff; 
  text-align: center; 
  font-size: 18px; 
}

.why-choose-us-container {
  display:flex;
  background-color: lightblue;
  height: 600px;
}

.heading-why-choose-us-1 {
  background-color: lightgrey;
  display: flex;
  flex: 1;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}
.picture-why-choose-us-2 {
  background-color: black;
  display: flex;
  flex: 1;
  color: white;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

.get-a-quote-header-container {
  display:flex;
  background-color: lightblue;
  height: 600px;
}

.get-a-quote-picture-left {
  background-color: rgb(255, 137, 137);
  display: flex;
  flex: 1;
  color: white;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

.get-a-quote-form-right {
  background-color: rgb(237, 70, 70);
  display: flex;
  flex: 1;
  color: white;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

.our-team-header-container {
  height: 400px;
  background-color: lightgreen;
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 15px;
  padding: 100px;
}

.team-member-info-container {
  background-color: #3498db; 
  border-radius: 15px; 
  padding: 40px;
  color: #fff; 
  text-align: center; 
  font-size: 18px; 
  margin-left: 15px;
  margin-right: 15px;
}
